<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="SenPie">
    <meta name="author" content="siddub">
    <title>SenPie</title>
    <link href="/required/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body class="container" style="width:98%">

    <h1>Welcome <%=user_email %>!</h1>
    <br>
    <!--Selecting options to order from menu-->
    <div id="menu" class="container">
      <h2>Menu</h2>
      <form action="/order" method="POST">
       <label class="card" for="menuItem1"><%=menu[0].name%></label>
       <label for="price1">Price:$<%=menu[0].price%></label>
       <input type="hidden" id="price1" name="price1" value="<%=menu[0].price%>">
       <input id="menuItem1" type="checkbox" name="menuItem1" value="<%=menu[0].name%>"> 
      <br>
       <label class="card" for="menuItem2"><%=menu[1].name%></label>
       <label for="price2">Price:$<%=menu[1].price%></label>
       .<input type="hidden" id="price2" name="price2" value="<%=menu[1].price%>">
       <input id="menuItem2" type="checkbox" name="menuItem2" value="<%=menu[1].name%>"> 
        <br>
       <label class="card" for="menuItem3"><%=menu[2].name%></label>
       <label for="price3">Price:$<%=menu[2].price%></label>
       <input type="hidden" id="price3" name="price3" value="<%=menu[2].price%>">
       <input id="menuItem3" type="checkbox" name="menuItem3" value="<%=menu[2].name%>"> 
        <br>
       <label class=card for="menuItem4"><%=menu[3].name%></label>
       <label for="price4">Price:$<%=menu[3].price%></label>
       <input type="hidden" id="price=4" name="price4" value="<%=menu[3].price%>">
       <input id="menuItem4" type="checkbox" name="menuItem4" value="<%=menu[3].name%>"> 
      <br>
       <label class="card" for="menuItem5"><%=menu[4].name%></label>
       <label for="price5">Price:$<%=menu[4].price%></label>
       <input type="hidden" id="price5" name="price5" value="<%=menu[4].price%>">
       <input id="menuItem5" type="checkbox" name="menuItem5" value="<%=menu[4].name%>"> 
       <br>

       <input type="submit" id="submit" name="submit" value="Submit">
  </body>