<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="SenPie">
    <meta name="author" content="siddub">
    <title>SenPie</title>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Quicksand&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/required/css/index.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="header">
      <h1>SenPie Baking Co.</h1>
        <nav class="nav"> 
          <a href="#user"><%=user_email %></a> 
        </nav>
    </div>
    <br>
    <form action="/order" method="POST">
      <div id="scene">
        <div id="left-zone">
            <ul class="list">
                <li class="item"><input type="radio" id="radio_The garden strawberry" name="basic_carousel" value="The garden strawberry" /><label class="label_strawberry" for="radio_The garden strawberry">Sailor Moon Parfait</label>
                    <div class="content content_strawberry"><span class="picto"></span>
                        <label style="font-family:'Quicksand', sans-serif;";class="card" for="menuItem1"><%=menu[0].name%></label>
                        <label for="price1">Price:$<%=menu[0].price%></label>                        
                        <input type="hidden" id="price1" name="price1" value="<%=menu[0].price%>">
                        <input id="menuItem1" type="checkbox" name="menuItem1" value="<%=menu[0].name%>"> 
                    </div>
                </li>
                <li class="item"><input type="radio" id="radio_A banana" name="basic_carousel" value="A banana" /><label class="label_banana" for="radio_A banana">Kon Dome Cake</label>
                    <div class="content content_banana"><span class="picto"></span>
                        <label style="font-family:'Quicksand', sans-serif;";class="card" for="menuItem2"><%=menu[1].name%></label>
                        <label for="price2">Price:$<%=menu[1].price%></label>
                        <input type="hidden" id="price2" name="price2" value="<%=menu[1].price%>">
                        <input id="menuItem2" type="checkbox" name="menuItem2" value="<%=menu[1].name%>">                             
                    </div>
                </li>
                <li class="item"><input type="radio" id="radio_The apple tree" name="basic_carousel" value="The apple tree" /><label class="label_apple" for="radio_The apple tree">Totoro Tarts</label>
                    <div class="content content_apple"><span class="picto"></span>
                        <label style="font-family:'Quicksand', sans-serif;";class="card" for="menuItem3"><%=menu[2].name%></label>
                        <label for="price3">Price:$<%=menu[2].price%></label>
                        <input type="hidden" id="price3" name="price3" value="<%=menu[2].price%>">
                        <input id="menuItem3" type="checkbox" name="menuItem3" value="<%=menu[2].name%>"> 
                    </div>
                </li>
                <li class="item"><input type="radio" id="radio_The orange" name="basic_carousel" value="The orange" /><label class="label_orange" for="radio_The orange">Dragon Ball Cake Pops</label>
                    <div class="content content_orange"><span class="picto"></span>
                        <label style="font-family:'Quicksand', sans-serif;";class=card for="menuItem4"><%=menu[3].name%></label>
                        <label for="price4">Price:$<%=menu[3].price%></label>
                        <input type="hidden" id="price=4" name="price4" value="<%=menu[3].price%>">
                        <input id="menuItem4" type="checkbox" name="menuItem4" value="<%=menu[3].name%>"> 
                    </div>
                </li>
                <li class="item"><input type="radio" id="radio_The orange" name="basic_carousel" value="The orange" /><label class="label_orange2" for="radio_The orange">Poke Ball Macarons</label>
                    <div class="content content_orange2"><span class="picto"></span>
                      <label style="font-family:'Quicksand', sans-serif;";class="card" for="menuItem5"><%=menu[4].name%></label>
                      <label for="price5">Price:$<%=menu[4].price%></label>
                      <input type="hidden" id="price5" name="price5" value="<%=menu[4].price%>">
                      <input id="menuItem5" type="checkbox" name="menuItem5" value="<%=menu[4].name%>"> 
                    </div>
                </li>
              </ul>
          </div>
          <div id="middle-border"></div>
          <div id="right-zone"></div>
        </div>
      </div>
      <input type="submit" id="submit" name="submit" value="Go To Cart">
    </form>
    <br>
  
    <br>
    <div class="about-section"> 
            <p> 
              "Here at Sen-Pie our goal is to   
              bake our hearts out and make our customers 
              happy. We offer a variety of anime-inspired  
              treats, baked here in our very own  
              kitchen. We can't wait to make the treat of your dream!"
          </p> 
          <h4>-Goku, Owner & Founder</h4>
    </div>
  
      <br>
    <div class="hours">
      <h2>Hours</h2>
        <p>
          <li>Mon-Fri 7am-2pm</li>
          <li>Sat 7am-4pm</li>
          <li>Sun 9am-3pm</li>
        </p>
    </div>
    <div class="contact">
      <h2>Contact Info</h2>
      <p>
        Sen-Pie Baking Co.<br>
        111 Drury Ln<br>
        Los Angeles, CA 12345<br>
        555-987-1234
      </p>
    </div>
                
  </body>
</html>