<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="SenPie">
    <meta name="author" content="siddub">
    <title>SenPie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Quicksand&display=swap" rel="stylesheet">  
    <link href="/required/css/index.css" rel="stylesheet">
    <!-- CSS only -->
  </head>
  <body>
    <div class="header">
      <h1>Sen-Pie Baking Co.</h1>
      <h3>Est.1776</h3>
        <nav class="nav"> 
          <a href="#user"><%=user_email %></a> 
        </nav>
        
        
    <!-- <div class="about-section"> 
            <p> s
              "Here at Sen-Pie our goal is to   
              bake our hearts out and make our customers 
              happy. We offer a variety of anime-inspired  
              treats, baked here in our very own  
              kitchen. We can't wait to make the treat of your dream!"
          </p> 
          <h4>-Goku, Owner & Founder</h4>
    </div> -->
  <!------------------------------------------------------------------------------------------------------->
    <div class="hours">
      <h2>Hours</h2>
        <p>
          <li>Mon-Fri 7am-2pm</li>
          <li>Sat 7am-4pm</li>
          <li>Sun 9am-3pm</li>
        </p>
    </div>

    <div class="contact">
      <h2>Contact Info</h2>
      <p>
        Sen-Pie Baking Co.<br>
        111 Drury Ln<br>
        Los Angeles, CA 12345<br>
        555-987-1234
      </p>
    </div>
    </div>
    <div class="menuItems container"> 
      <h1>Menu</h1>

      <div class="row">
      <div class="card col-4" style="width: 18rem;" id="menuItem1">
        <img src="required\css/images/parfait.jpg" class="card-img-top" alt="/RestaurantFS/required/css/images/parfait.jpg">
        <div class="card-body" style="background-color: aquamarine;">
          <h5 class="card-title"><%=menu[0].name%></h5>
          <p class="card-text">$<%=menu[0].price%></p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card col-4" style="width: 18rem;" id="menuItem2">
        <img src="required\css/images/cake.jpg.webp" class="card-img-top" alt="/RestaurantFS/required/css/images/parfait.jpg">
        <div class="card-body" style="background-color: aquamarine;">
          <h5 class="card-title"><%=menu[1].name%></h5>
          <p class="card-text">$<%=menu[1].price%></p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card col-4" style="width: 18rem;" id="menuItem3">
        <img src="required\css/images/tart.jpg" class="card-img-top" alt="/RestaurantFS/required/css/images/parfait.jpg">
        <div class="card-body" style="background-color: aquamarine;height: 196px;">
          <h5 class="card-title"><%=menu[2].name%></h5>
          <p class="card-text">$<%=menu[2].price%></p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
        </div>
        <div class="row">
      </div>
      <div class="card col-4" style="width: 18rem;" id="menuItem4">
        <img src="required\css/images/pops.jpg" class="card-img-top" alt="/RestaurantFS/required/css/images/parfait.jpg">
        <div class="card-body" style="background-color: aquamarine;">
          <h5 class="card-title"><%=menu[3].name%></h5>
          <p class="card-text">$<%=menu[3].price%></p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card col-4" style="width: 18rem;" id="menuItem5">
        <img src="required\css/images/macaron.jpg" class="card-img-top" alt="/RestaurantFS/required/css/images/parfait.jpg">
        <div class="card-body" style="background-color: aquamarine;">
          <h5 class="card-title"><%=menu[4].name%></h5>
          <p class="card-text">$<%=menu[4].price%></p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      </div>
      <div class="col-25" style="border: 10px;">
        <div class="container card" style="border:5px aquamarine solid; background-color: pink; " >
          <h4>Cart
            <span class="price" style="color:black;" >
              <i class="fa fa-shopping-cart"></i>
              <b></b>
            </span>
          </h4>
          <div >
          <form id="cart" action="/order" method="POST">
          <div class="row" id="itemContainer">
          
          </div>
          </div>
          
        <label style="font-family: Quicksand;" for="total"><strong>Total </strong> <span id="totalPrice" style="color:black;">$</span></label>
         
        <input id="checkOutButton" type="submit" name="submit" value="Checkout">
        </form>
      </div>
       
    </div>
      
    
  <script>

    
  
    //loops through Add To Cart Buttons and if button cliked, adds row with item information
    
      
      
      var AddToCartButtons = document.getElementsByClassName('btn btn-primary')
      console.log(AddToCartButtons);
      var total = 0;
      for(let i =0; i < AddToCartButtons.length; i++){
        var button = AddToCartButtons[i];
        console.log(button);
        console.log(button.parentElement.firstElementChild.innerHTML);
      let itemName = button.parentElement.firstElementChild.innerHTML.trim();
      let itemPrice = parseInt(button.parentElement.children[1].innerHTML.replace("$",""));
      let itemId = button.parentElement.parentElement.attributes[2].value;
      console.log(itemPrice);
      console.log(itemId);
      let cartItem = `<div class="row">
          <label class="col-4"for="cartItem" ><strong>${itemName}</strong></label>
          <div class="col-4"></div>
          <input type="number" class="cartItem col-1" value="1" width="5px">
          <input type="hidden" name="${itemId}" value="${itemName}" id="${itemName}">
          <input type="hidden" name="${itemId}price" value="${itemPrice}" id="${itemPrice}">
          <div class="col-1"></div>
          <button type="button" class="col-2 rButtons">Remove</button>
          </div>
          `;
          button.addEventListener('click', (event) => {
            event.preventDefault();
        console.log(cartItem);
        total = total+itemPrice
        let label = `<label style="font-family: Quicksand;" for="total"><strong>Total </strong> <span id="totalPrice" style="color:black;">$${total}</span></label>
        <input type="hidden" name="totalPrice" value="${total}">`
        document.getElementById('itemContainer').innerHTML += cartItem;  
        document.getElementById('totalPrice').innerHTML = label;
        console.log(label);
      })
    }
    //loops through remove buttons and if they are clicked removes item from cart
    var removeButtons = document.getElementsByClassName('rButtons')
    for(let i=0;i<removeButtons.length;i++){
      console.log(removeButtons);
      let removeButton = removeButtons[i];
      removeButton.addEventListener('click',(e)=>{
        console.log('removed');
      })
    }
    
  
 
  
  </script>   
  </body>
</html>