<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="SenPie">
    <meta name="author" content="siddub">
    <title>SenPie</title>
    <link href="/required/css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Quicksand&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-image:url('/required/css/images/register.gif')">
    <h1 style="font-family:'Barrio', cursive;font-size:50px;">Checkout</h1>
    <div class="col-25">
      <div style="font-family:'Quicksand', sans-serif; width:200px;margin-left:50px;border:black solid 3px;border-radius:20px;padding:3px;";class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b></b>
          </span>
        </h4>

        <p><a href="#"><%=order.item1%></a>
        <p><a href="#"><%=order.item2%></a> 
        <p><a href="#"><%=order.item3%></a> 
        <p><a href="#"><%=order.item4%></a> 
        <p><a href="#"><%=order.item5%></a> 
        <hr>
        <p>Total <span class="price" style="color:black"><b>$<%=order.totalPrice%></b></span></p>
      </div>
    </div>
  </div>

  <!--Enter payment information here-->

  <div class="row">
    <div class="col-75">
      <div class="container">
        <form action="/done" method="GET">
  
          <div style="font-family:'Quicksand', cursive;width:515px;";class="row">
            <div style="height:200px;"class="col-50">
              <h3>Billing Address</h3>
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input style="margin:10px;background:transparent;border:0; border-bottom:solid black 2px;";type="text" id="fname" name="firstname" placeholder="John M. Doe">
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input style="margin:10px;background:transparent;border:0; border-bottom:solid black 2px;";type="text" id="email" name="email" placeholder="john@example.com">
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input style="margin:10px;background:transparent;border:0; border-bottom:solid black 2px;";type="text" id="adr" name="address" placeholder="542 W. 15th Street">
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input style="background:transparent;border:0; border-bottom:solid black 2px;";type="text" id="city" name="city" placeholder="New York">
  
              <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input style="margin:10px;background:transparent;border:0; border-bottom:solid black 2px;";type="text" id="state" name="state" placeholder="NY">
                </div>
                <div style="margin-left:45%;;"class="col-50">
                  <label for="zip">Zip</label>
                  <input style="margin:10px;background:transparent;border:0; border-bottom:solid black 2px;";type="text" id="zip" name="zip" placeholder="10001">
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
              </div>
              <label for="cname">Name on Card</label>
              <input type="text" id="cname" name="cardname" placeholder="John More Doe">
              <label for="ccnum">Credit card number</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
              <label for="expmonth">Exp Month</label>
              <input type="text" id="expmonth" name="expmonth" placeholder="September">
  
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Exp Year</label>
                  <input type="text" id="expyear" name="expyear" placeholder="2018">
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" name="cvv" placeholder="352">
                </div>
              </div>
            </div>
  
          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          <br>
          <input type="submit" value="Continue to checkout" class="btn">
        </form>
      </div>
    </div>

  <script>

  </script>
  </body>
  </html>